* { margin: 0; padding: 0; }

abbr,acronym,blockquote,code,dir,kbd,listing,plaintext,q,samp,tt,var,xmp { hyphens: none; }

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	background-color: aliceblue;
}

body > :first-child {
	margin-top: 0;
}

texto {
  color: #000000;
}

/* @group Headings */

h1,h2,h3,h4,h5,h6 {
	line-height: 1;
	margin: 0;
	margin-top: 1.5rem;
	text-rendering: optimizeLegibility;
	color: #000000;
}

h1 { font-size: 2.75rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.65rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1.1rem; }
h6 { font-size: 1rem; }

h2 em, h3 em{
	color:rgb(0, 0, 0);
}

/* @end */

small {
	font-size: 65%;
}

p {
	margin-top: .75rem;
}

hr {
	margin: .75rem 0;
	
	opacity: .5;
}

ol,ul {
	margin-top: .75rem;
}

ol ul, ol ol, ul ul, ul ol {
	margin-left: 2rem;
	margin-bottom: .75rem;
}

li {
	margin: .5em 0;
}

abbr {
	font-variant: small-caps;
	font-weight: 600;
	text-transform: lowercase;
	color: #1cdd2c;
}

abbr[title]:hover {
	cursor: help;
}



body.light-theme {
    background-color: white;
    color: black;
}

body.dark-theme {
    background-color: black;
    color: white;
}

/* Optional: Button styling */
#theme-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
}


/* @group Tables */

.entrenamiento {
	border-collapse: collapse;
	background-image: url('images/Entrenamiento_bkgnd.jpg');
}
.juegos{
	background-image: url('images/Juegos_bkgnd.jpg');

}
.lobby{
	background-image: url('images/Lobby_bkgnd.jpg');
}
.mantenimiento{
	background-image: url('images/Mantenimiento_bkgnd.jpg');
}
.comidas{
	background-image: url('images/Comidas_bkgnd.jpg');
}

.nav-lang{
	display: flex;
	color: var(--truewhite);
	align-items: center;
	padding-left: 15px;
	gap: 5px;
	font-weight: var(--fw-700);
	transition: var(--transition-1);
	min-width: 70px;
	padding-right: 25px;
  }
  
  .nav-lang li a:hover {
	color: var(--black-coral);
	border-radius: var(--radius-8);
	
  }

/* @end */